--extra-index-url https://download.pytorch.org/whl/cu113
protobuf==3.20.1
asyncio~=3.4.3
numpy~=1.22.3
matplotlib~=3.5.2
gym~=0.23.1
gym[atari]
pygame~=2.1.2
torch
torchvision
torchaudio
binance-connector
tensorboardX
dill